# Template systemd service file for the powerhaus daemon.

[Unit]
Description=powerhaus daemon
After=network.target

[Service]
RestartOnFailure=yes
ExecStart=powerdaemon.py
User=root

[Install]
WantedBy=multi-user.target
